<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: header-css" lang="pt" />

<title>Cadastro de Doadores</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<div th:replace="fragments/footer :: footer" />
	<script>
		$(function() {
			$("#data").datepicker({
				dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
				dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
				dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
				monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
				monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],				
				nextText: 'Próximo',
				prevText: 'Anterior',
				dateFormat : 'dd/mm/yy',
				language : 'pt-BR',
				weekStart : 0,
				startDate : '0d',
				todayHighlight : true,
			 	changeMonth: true,
				changeYear: true
			});
		});
	</script>
</head>
<body>
	<div th:replace="fragments/header :: header" />

	<div class="input-form">
		<div class="container">

			<form id="agendaForm" th:action="@{/agenda/(form)}"
				th:object="${agenda}" action="#" method="post"
				class="form-horizontal ">

				<div class="form-group" >
					<strong class="col-sm-10"
						style="font-size: 24px">Agenda</strong>
				</div>

				<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<p th:each="error : ${#fields.errors('*')}" th:text="${error}">Erro de validação</p>
				</div>
				
				<input type="hidden" th:field="*{id}" />
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="text">Data</label> 
					<div class="col-sm-4">
						<input autocomplete="off" type="text" id="data" th:field="*{data}"
							th:value="${agenda.data} != null ? ${#calendars.format(agenda.data,'dd/MM/yyyy')} : ${agenda.data}" 
							th:classappend="${#fields.hasErrors('data')}? 'field-error'" />
					</div>
				</div>


				<div class="form-group row">
					<label class="control-label col-sm-2" for="nome">Doador:</label>
					<div class="col-sm-4">
						<select class="form-control col-sm-2" id="doador" name="doador"
							th:field="*{doador}" placeholder="selecione o Doador"
							th:classappend="${#fields.hasErrors('doador')}? 'field-error'">							
							<option value=""></option>
							<option th:each="doador : ${doadores}" th:value="${doador.id}"
								th:text="${doador.nome}" />
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="control-label col-sm-2" for="nome">Prato:</label>
					<div class="col-sm-4">
						<select class="form-control" id="food" name="food"
							th:field="*{food}"
							th:classappend="${#fields.hasErrors('food')}? 'field-error'">
							<option value=""></option>
							<option th:each="food : ${foods}" th:value="${food.id}"
								th:text="${food.nomePrato}" />
						</select>
					</div>
				</div>

				<div class="col-sm-offset-2 col-sm-10">
					<a class="btn btn-pq btn-warning" th:href="@{/}"
						href="home.html"> voltar </a> <input
						class="btn btn-pq btn-primary" type="submit" value="Gravar" />
				</div>

				<br /> <br />

			</form>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer" />
</body>
</html>
