<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<div th:replace="fragments/header :: header-css"/>
 	<title>Agenda de eventos</title>      
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />      
</head>
<body>
	<div th:replace="fragments/header :: header"/>
	<div class="well">
		<div class="form-group" >
					<strong class="col-sm-10"
						style="font-size: 24px">Agenda</strong>
		</div>
	
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Doador gravado com sucesso</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Data</th>
					<th>Doador</th>					
					<th>Prato</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="id" th:text="${agenda.id}">1</td>
					<td id="data" th:text="${#calendars.format(agenda.data,'dd/MM/yyyy')}" >1</td>
					<td id="doador" th:text="${agenda.doador.nome}"> nome </td>
					<td id="prato" th:text="${agenda.food.nomePrato}">(11)1313-1315</td>					 
				</tr>
			</tbody>			
		</table>
		
		<div class="pull-left">
			<a class="btn btn-pq btn-warning" th:href="@{/}" href="list.html">voltar</a>
			<a class="btn btn-pq btn-success" href="form.html" th:href="@{'/agenda/alterar/' + ${agenda.id}}">alterar</a>
			<a class="btn btn-pq btn-danger" href="doador" th:href="@{'/agenda/remover/' + ${agenda.id}}">remover</a>
		</div>
		<br/>
		<br/>
	</div>
	<div th:replace="fragments/footer :: footer" />
</body>
</html>