<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/header :: header-css"/>
	<title>Cadastro dos Foods</title>      
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />      
</head>
<body>
	<div th:replace="fragments/header :: header"/>
	<div class="input-form">

		<div class="container">
			
			<form id="foodForm" th:action="@{/food/(form)}"
				th:object="${food}" action="#" method="post"
				class="form-horizontal ">
				<div class="form-group" >
					<strong class="col-sm-10"
						style="font-size: 24px">Food</strong>
				</div>

				<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<p th:each="error : ${#fields.errors('*')}" th:text="${error}">Erro de validação</p>
				</div>

				<input type="hidden" th:field="*{id}" />

				<div class="form-group row">
					<label class="control-label col-sm-2" for="nomePrato">Nome do Food:</label>
					<div class="col-sm-10">
					<input class="form-control"  type="text" th:field="*{nomePrato}"
						placeholder="Coxinha de Frango com Catupiry tamanho médio"
						autocomplete="off" th:value="${nomePrato}"
						th:classappend="${#fields.hasErrors('nomePrato')}? 'field-error'"/>
					</div>	
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="dominio">Valor:</label>
					<div class="col-sm-2">
						<input class="form-control allTextRight" type="number" th:field="*{valor}" min="0.00" max="10000.00" step="0.01"						 
						autocomplete="off" th:classappend="${#fields.hasErrors('valor')}? 'field-error'" />
					</div>
				</div>

				<div class="col-sm-offset-2 col-sm-10">
					<a class="btn btn-pq btn-warning" th:href="@{/food/}"
						href="food.html"> voltar </a> <input
						class="btn btn-pq btn-primary" type="submit" value="Gravar" />
				</div>
				<br /> <br />

			</form>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer" />
</body>
</html>
