<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/header :: header-css"/>
	<title>Fast Food da Modal</title>      
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />      
</head>
<body>
	<div th:replace="fragments/header :: header"/>
	<div class="container">

		<div class="form-group" >
				<a class="btn btn-pq btn-success col-sm-2" href="form.html"
					th:href="@{/agenda/novo}">Novo</a> 
				<strong class="col-sm-10"
					style="font-size: 24px">Foods</strong>
		</div>
		
		
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">mensagem</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Nome</td>
					<td>valor</td>					
				</tr>
			</thead>
			<tbody>
				<tr th:if="${foods.empty}">
					<td colspan="3">Sem foods</td>
				</tr>
				<tr th:each="food : ${foods}">
					<td th:text="${food.id}">1</td>		
					
					<td><a href="view.html"
						th:text="${food.nomePrato}"
						th:href="@{'/food/' + ${food.id}}"
						> nome </a></td>
						
					<td class="allTextRight" th:text="${food.valor}">1.00</td>
					
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="fragments/footer :: footer" />
</body>
</html>
