<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<div th:replace="fragments/header :: header-css"/>
 	<title>Gerenciador de Apis</title>      
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />      
</head>
<body>
	<div th:replace="fragments/header :: header"/>
	<div class="well">
		<div class="form-group" >
					<strong class="col-sm-10"
						style="font-size: 24px">Food</strong>
		</div>
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Food gravado com sucesso</div>
			
		<div class="alert alert-danger" th:if="${globalMessage1}" th:text="${globalMessage1}">
				</div>
					
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Valor</th>					
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="id" th:text="${food.id}">1</td>
					<td id="nome" th:text="${food.nomePrato}"> nome </td>
					<td id="descricao" th:text="${food.valor}">1.00</td>					 
				</tr>
			</tbody>			
		</table>
		
		<div class="pull-left">
			<a class="btn btn-pq btn-warning" th:href="@{/food/}" href="list.html">voltar</a>
			<a class="btn btn-pq btn-success" href="form.html" th:href="@{'/food/alterar/' + ${food.id}}">alterar</a>
			<a class="btn btn-pq btn-danger" href="food" th:href="@{'/food/remover/' + ${food.id}}">remover</a>
		</div>
		<br/>
		<br/>
	</div>
	<div th:replace="fragments/footer :: footer" />
</body>
</html>