<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>
	<div th:fragment="footer" class="footer navbar-fixed-bottom">

		<div class="container">

			<footer>
				<address>
					<!-- this is footer -->
					&copy; 2018 www.modalgr.com.br <span
						sec:authorize="isAuthenticated()"> | Usuario: <span
						sec:authentication="name"></span>  <a
						th:href="@{/logout}">Sair</a>
					</span>
				</address>
			</footer>
		</div>

	</div>

	<!-- <div th:replace="fragments/footer :: footer"/> -->
</body>
</html>