<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">      
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css"  th:href="@{/bootstrap/css/bootstrap.min.css}"
        										href="../../static/bootstrap/css/bootstrap.min.css" />

		<link rel="stylesheet" type="text/css"  th:href="@{/bootstrap/css/bootstrap-theme.min.css}"
        										href="../../static/bootstrap/css/bootstrap-theme.min.css" />


        <link rel="stylesheet" type="text/css"  th:href="@{/css/main.css}"
              									href="../../static/css/main.css" />
     
		 <!--  JQuery -->
		<link rel="stylesheet" type="text/css"  th:href="@{/css/jquery-ui.css}" href="../../static/css/jquery-ui.css" />
		<script src="../../static/js/jquery-1.12.4.js" th:src="@{../../js/jquery-1.12.4.js}"></script>
		<script src="../../static/js/jquery-ui.js" th:src="@{../../js/jquery-ui.js}"></script>
		 
		 
		<style>
		  input.field-error, textarea.field-error { border: 1px solid #B94A48; }
		</style>
 	
		<script src="../../static/bootstrap/js/bootstrap.min.js"
				th:src="@{../../bootstrap/js/bootstrap.min.js}"></script>
				
  	
				
		
				
   
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <header> <!-- navbar-fixed-top -->
	    <nav class="navbar navbar-inverse">
	        <div class="container">
	
	            <div class="navbar-header">
	            	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					<a  th:href="@{/}"><img alt="ModalGR" src="../../static/img/modalgr.png" th:src="@{/img/modalgr.png}"/> </a>                
	            </div>
	            <div class="collapse navbar-collapse"
	            	id="collapse-navbar">
	                <ul class="nav navbar-nav">
	                    <li class="active"><a th:href="@{/}">Agenda</a></li>
	                    <li class="active"><a th:href="@{/food/}" >Food</a></li>
	                    <li class="active"><a th:href="@{/doador/}" >Doador</a></li>
	                </ul>
	            </div>
	        </div>
	    </nav>
    </header>
</div>
	
</body>
</html>