<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/header :: header-css"/>
	<title>Cadastro de Doadores</title>      
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />      
</head>
<body>
	<div th:replace="fragments/header :: header"/>
	<div class="input-form">

		<div class="container">
		
			<form id="doadorForm" th:action="@{/doador/(form)}"
				th:object="${doador}" action="#" method="post"
				class="form-horizontal ">
				
				<div class="form-group" >
					<strong class="col-sm-10"
						style="font-size: 24px">Doador</strong>
				</div>
				
				<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<p th:each="error : ${#fields.errors('*')}" th:text="${error}">Erro de validação</p>
				</div>
				
				<input type="hidden" th:field="*{id}" />

				<div class="form-group">
					<label class="control-label col-sm-2" for="nome">Nome do Doador:</label>
					<div class="col-sm-6" >
						<input th:classappend="${#fields.hasErrors('nome')}? 'field-error'" th:class="form-control " 
									type="text" th:field="*{nome}" th:value="${nome}"
							placeholder="Danilo" autocomplete="off"  />							
					</div>							
				</div>
<!-- 						th:class="${#fields.hasErrors('nome')} ? 'field-error'" /> -->

				<div class="form-group">
					<label class="control-label col-sm-2" for="dominio">Telefone:</label>
					<div class="col-sm-2">
						<input class="form-control" type="text" th:field="*{telefone}" autocomplete="off"  
						data-mask="(00)0000-00000" data-mask-selectonfocus="true" pattern="\(\d{2}\)\d{4}-\d{5}"
						/>
						
					 </div>
				</div>
				

				<div class="col-sm-offset-2 col-sm-10">
					<a class="btn btn-pq btn-warning" th:href="@{/food/}"
						href="food.html"> voltar </a> <input
						class="btn btn-pq btn-primary" type="submit" value="Gravar" />
				</div>
				<br /> <br />

			</form>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer" />
	
	<script src="../../static/js/jquery.mask.js" th:src="@{../../js/jquery.mask.js}"></script>
</body>
</html>
