<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/header :: header-css"/>
	<title>Doadores da Modal</title>      
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />      
</head>
<body>
	<div th:replace="fragments/header :: header"/>
	<div class="container">
		
		<div class="form-group" >
				<a class="btn btn-pq btn-success col-sm-2" href="form.html"
					th:href="@{/agenda/novo}">Novo</a> 
				<strong class="col-sm-10"
					style="font-size: 24px">Doadores</strong>
		</div>
		
		
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">mensagem	</div>
			
			
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Nome</td>
					<td>Telefone</td>					
				</tr>
			</thead>
			<tbody>
				<tr th:if="${doadores.empty}">
					<td colspan="3">Sem foods</td>
				</tr>
				<tr th:each="doador : ${doadores}">
					<td th:text="${doador.id}">1</td>		
					
					<td><a href="view.html"
						th:text="${doador.nome}"
						th:href="@{'/doador/' + ${doador.id}}"
						> nome </a></td>
						
					<td th:text="${doador.telefone}">(11)1313-1315</td>
					
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="fragments/footer :: footer" />
</body>
</html>
