<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<div th:replace="fragments/header :: header-css"/>
 	<title>Doadores de foods</title>      
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />      
</head>
<body>
	<div th:replace="fragments/header :: header"/>
	<div class="well">
		<div class="form-group" >
				<strong class="col-sm-10"
					style="font-size: 24px">Doador</strong>
		</div>
	
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Doador gravado com sucesso</div>
			
		<div class="alert alert-danger" th:if="${globalMessage1}" th:text="${globalMessage1}">
				</div>	
				
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Telefone</th>					
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="id" th:text="${doador.id}">1</td>
					<td id="nome" th:text="${doador.nome}"> nome </td>
					<td id="telefone" th:text="${doador.telefone}">(11)1313-1315</td>					 
				</tr>
			</tbody>			
		</table>
		
		<div class="pull-left">
			<a class="btn btn-pq btn-warning" th:href="@{/doador/}" href="list.html">voltar</a>
			<a class="btn btn-pq btn-success" href="form.html" th:href="@{'/doador/alterar/' + ${doador.id}}">alterar</a>
			<a class="btn btn-pq btn-danger" href="doador" th:href="@{'/doador/remover/' + ${doador.id}}">remover</a>
		</div>
		<br/>
		<br/>
	</div>
	<div th:replace="fragments/footer :: footer" />
</body>
</html>