h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}


.teste{
	background-color: #FF0000;
	width: 100px;
	height: 20px;
}

footer address:last-child {
	margin-bottom: 0;
}


footer {
	background-color: #333;
	color: #FFF;
	padding: 20px;
	margin-top: 10px;
}

html,
body {
	height: 100%;
}

.espacoFinal {
	height: 150px;
}

.allTextRight {
	text-align: right;
}


