<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gerenciador de Microservices</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div th:replace="fragments/header :: header-css" />
</head>

<body>

	<div th:replace="fragments/header :: header" />

	<div class="container">


		<div class="form-group" >
				<a class="btn btn-pq btn-success col-sm-2" href="form.html"
					th:href="@{/agenda/novo}">Novo</a> 
				<strong class="col-sm-10"
					style="font-size: 24px">Doações Espontaneas</strong>
		</div>


		<br />
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">mensagem</div>
		
		<table class="table table-bordered table-striped table-responsive">
			<thead>
				<tr>
					<td>Data</td>
					<td>Doador</td>
					<td>Telefone</td>
					<td>Prato</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${agendados.empty}">
					<td colspan="3">Sem Agenda</td>
				</tr>
				<tr th:each="agenda : ${agendados}">
					<td th:text="${agenda.data} != null ? ${#calendars.format(agenda.data,'dd/MM/yyyy')} : ${agenda.data}">15/11/2018</td>

					<td><a href="view.html" th:text="${agenda.doador} != null ? ${agenda.doador.nome} : ''"
						th:href="@{'/agenda/' + ${agenda.id}}"> nome do doador
					</a></td>

					<td th:text="${agenda.doador} != null ? ${agenda.doador.telefone} : ''">(11)1313-1315</td>

					<td th:text="${agenda.food} != null ? ${agenda.food.nomePrato} : ''">cox</td>

				</tr>
			</tbody>
		</table>
		

	</div>
	<div class="espacoFinal"></div>

	<div th:replace="fragments/footer :: footer" />
</body>
</html>